.postsArchive {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    font-family: "Source Sans Pro", serif;
}

.post {
    position: relative;
}

.img {
    width: auto;
    height: 100%;
    max-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

.link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@media (max-width: 1024px) {
    .postsArchive {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 550px) {
    .postsArchive {
        grid-template-columns: 1fr;
    }
}